/* 
https://coolors.co/5affcb-ffb157-8cff69-a4a4ff-ff88b6
*/


body {
  user-select: none;
  overflow: hidden;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  line-height: 1.2;
}
td {
  padding: 0;
}
h1 {
  font-size: 4.3rem;
  margin: 0.3em;
}
p {
  font-size: 1.4rem;
  line-height: 1.4;
}
table {
  border-spacing: 0;
  color: inherit;
}








.page {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  overflow-y: auto;
}
.page.active {
  display: block;
}
div.shadow {
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
.nice-scroll {
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
}
.nice-scroll::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.nice-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 1rem;
}
/* Handle */
.nice-scroll::-webkit-scrollbar-thumb {
  background: #8885; 
  border-radius: 1rem;
}
/* Handle on hover */
.nice-scroll::-webkit-scrollbar-thumb:hover {
  background: #5555; 
}

.filters-div {
  height: 20rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0.3rem 0.5rem #0004;
}
.filters-td {
  height: 0;
  padding: 1rem;
}
.filters-div h2 {
  margin: 0.4rem 0.4rem 0 1rem;
  font-size: 1.7rem;
}
.filters-div h3 {
  margin: 0 0.4rem;
}

.filters-div td {
  padding: 0;
  vertical-align: top;
}

.filters-apply-button {
  position: absolute;
  right: 2.5rem;
  background-color: #18426F;
  opacity: 0.3;
  transition: opacity 0.1s ease-in-out,
              color 0.1s ease-in-out;
  color: white;
  padding: 0.3rem 1rem;
  top: 0.35rem;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
.filters-apply-button.active {
  opacity: 1;
  cursor: pointer;
}







body .vl-select {
  color: #18426F;
}
body .vl-select-head {
  background-color: white;
  border-radius: 0.4rem;
  border-color: #18426F;
  font-weight: bold;
  font-size: 1.1rem;
}
body .vl-select-body-parent {
  max-height: 7rem;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  border-color: #18426F;
}
body .vl-select-body-parent::-webkit-scrollbar {
  width: 10px;
}
/* Track */
body .vl-select-body-parent::-webkit-scrollbar-track {
  border-radius: 0.4rem;
  background: #f1f1f1; 
}
/* Handle */
body .vl-select-body-parent::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: #18426F50; 
}
/* Handle on hover */
body .vl-select-body-parent::-webkit-scrollbar-thumb:hover {
  background: #18426F90; 
}

body .vl-select-body td:hover {
  background: #18426FA0; 
}




.slider {
  height: 1.5rem;
  width: 100%;
}

.filters-slider-table>tbody>tr>td:nth-child(2) {
  text-align: right;
}
.filters-slider-table>tbody>tr:nth-child(even)>td {
  vertical-align: top;
  padding: 0 0.5rem;
}
.filters-slider-table>tbody>tr:nth-child(odd)>td {
  vertical-align: bottom;
}

.summary-table {
  display: none;
  height: 100%;
  width: 90%;
}
.summary-table tr {
  height: 50%;
}
.summary-table td {
  vertical-align: middle;
}
.summary-table h2 {
  margin-top: 0;
}
.summary-table h3 {
  margin-left: 1rem;
  font-size: 1.1rem;
}
.summary-table h3 span {
  font-weight: normal;
}
.summary-table tr:first-child td {
  vertical-align: bottom;
}
.summary-table tr:first-child h3 {
  margin-bottom: 0.2rem;
}
.summary-table tr:last-child td {
  vertical-align: top;
  padding-top: 0.5rem;
}




.filters-expanding-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.filters-expanding-icon img {
  height: 100%;
  width: 100%;
}













#report-year-slider .vl-slider-handle, #map-year-slider .vl-slider-handle {
  top: 9px;
  width: 16px;
  height: 16px;
  transform: translateX(-8px);
}















#try-map-popup-arrow {
  background-color: #50add4;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.8rem;
  right: 3.5rem;
  transform: rotate(45deg);
}

#try-map-popup {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: #50add4;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 5rem;
  
}

#map-td {
  width: 50%;
  position: relative;
}

#mouse-info {
  visibility: hidden;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.8rem;
  z-index: 5000;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem #0004;
}

#report-summary-td .title h1 {
  font-size: 3rem;
  margin: 1rem 2rem;
}

#report-summary-td .content {
  color: white;
  font-size: 1.1rem;
  padding: 0 1.5rem 0 2rem;
}
#report-summary-td .content>div {
  padding-right: 0.5rem;
}


#map-report-table {
  height: 100%;
  width: 100%;
}

#map-domains-td {
  height: 100%;
  position: relative;
}

#map-assets-td {
  display: none;
  height: 100%;
  position: relative;
}

#map-report-td {
  display: none;
  height: 100%;
  position: relative;
}

#map-report-div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: 'Rubik', Verdana, Geneva, Tahoma, sans-serif;
}

#map-report-div h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}

#map-report-header-td {
  height: 0;
  padding: 1rem 3rem;
  color: white;
}

#map-assets-return-div {
  color: #444;
  background: white;
  padding: 0.6rem 1rem;
  border-bottom-right-radius: 0.5rem;
}
#map-report-return-div, #map-assets-return-div {
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 5;
  border-radius: 2rem;
  font-family: 'Rubik', sans-serif;
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
}
#map-report-return-div:hover, #map-assets-return-div:hover {
  opacity: 1;
}


#map-domains-menu-table {
  border-spacing: 0rem;
  height: 100%;
}
#map-domains-menu-table td {
  text-align: center;
  border-radius: 0rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
#map-domains-menu-table td h3 {
  margin: 0.5rem;
  font-family: 'Rubik';
  font-weight: 500;
}
#map-domains-menu-table .built-button { background-color: #ffdb9a;color: #763100; }
#map-domains-menu-table .built-button:hover { background-color: #ffcb6d; }
#map-domains-menu-table .natural-button { background-color: #c2ffaf;color: #037c09;  }
#map-domains-menu-table .natural-button:hover { background-color: #a6ff8b; }
#map-domains-menu-table .cultural-button { background-color: #ffabab;color: #780021;  }
#map-domains-menu-table .cultural-button:hover { background-color: #ff8686; }
#map-domains-menu-table .human-button { background-color: #c0c0ff; color: #34229d;  }
#map-domains-menu-table .human-button:hover { background-color: #A4A4FF; }




#footer {
  position: absolute;
  width: 100%;
  height: 2rem;
  left:0;
  bottom: 0;
  background-color: #222;
  z-index: 5;
}
#footer img {
  height: 2rem;
  width: 2rem;
  padding: 0rem 0.5rem;
}
#footer .attribution {
  color: #AAA;
  position: absolute;
  left: 3rem;
  top: 0.5rem;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}





#help-popup {
  position: absolute;
  font-size: 18px;
  padding: 8px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255,255,255);
  left: 50%; 
  top: 50%; 
  margin-left: -355px; 
  width: 670px;
  margin-top: -290px;
  z-index: 2000;
  display: none;
}

#help-popup h2 {
  font-size: 24px;
  font-weight: bold;
  color: #AAA;
}

.contact {
  opacity: 0.4;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 100%;
}

#help-popup a {
  font-size: inherit;
  color: #44F;
  font-style: italic;
}

#help-popup button {
  background-color: #F9F9F9;
  color: #999;
  border-color: #999;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
}
#help-popup button:hover {
  background-color: #EEE;
  color: black;
  border-color: black;
}


.intro_tour {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #222;
  min-width: 650px;
  margin: 6px -3px 0 0;
}

div.intro_tour h3, div.intro_tour h2 {
  text-align: center;
  font-size: 22px;
  color: #777;
  font-weight: bold;
  margin: 8px;
}

div.intro_tour p {
  margin: 15px;
}

div.intro_tour .introjs-button {
  margin-top: 0px;
}

.introjs-tooltiptext a {
  color: #44F;
  font-size: 18px;
}


#intro-logo {
  background-color: white;
  margin: 0;
}
#intro-logo img {
  width: 220px;
  height: 110px;
  object-fit: contain;
}







#body-table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

#title-td {
  width: 100%;
  background-color: #444;
  padding: 0.5rem;
  color: white;
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
}
#menu-td {
  background-color: #444;
  vertical-align: bottom;
  color: white;
}
#page-td {
  width: 100%;
  height: 100%;
}
#footer-td {
  width: 100%;
  background-color: #222;
  height: 2rem;
}

#menu-table {
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-spacing: 0;
  font-size: 15px;
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
  display: inline-flex;
  font-weight: 600;
}
#menu-table td {
  padding: 0.5rem 1rem 1rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem 0.5rem 0 0;
  min-width: 5rem;
  text-align: center;
  transition: background-color 0.1s ease-in-out;
  color: white;
}
#menu-table td:hover {
  background-color: #50add440;
}
#menu-table td.active {
  background-color: #50add4b8;
}

#title-td img {
  display: inline-block;
  height: 2rem;
  margin-left: 1rem;
  position: relative;
  top: 2px;
}
#title-td div {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 11rem;
  font-size: 1.1rem;
  vertical-align: middle;
}




#page-overview .background {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#overview-info-table {
  margin-top: 3rem;
  border: 2px solid #9994;
  border-left-width: 0;
  border-right-width: 0;
  background-color: #CCC4;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #444;
}
#overview-info-table img {
  height: 10rem;
  width: 10rem;
  border-radius: 20rem;
  object-fit: cover;
}

#overview-info-table tr:first-child td {
  padding: 2rem 0 1rem 0;
}
#overview-info-table tr:last-child td {
  vertical-align: top;
  padding: 0 1rem 1rem 1rem;
}



#report-info-td {
  background-color: #00A9A7;
  position: relative;
  z-index: 1;
}
#report-info-td .shadow {
  box-shadow: 0.1rem 0.1rem 0.1rem #0004;
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#report-menu-table {
  width: 10rem;
  height: 100%;
}
#report-menu-table td {
  text-align: center;
  font-size: 1.6em;
  height: 20%;
  position: relative;
  right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0 0 0 0;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  transition: right 0.1s ease-in-out,
              border-radius 0.1s ease-in-out,
              padding-left 0.1s ease-in-out;
}
#report-menu-table td.active {
  right: 0rem;
  padding-left: 0;
  border-radius: 0 1rem 1rem 0;
}
#report-menu-table td.active:hover {
  right: 0rem;
  padding-left: 0;
  border-radius: 0 1rem 1rem 0;
}
#report-menu-table td:hover {
  right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
#report-menu-table div {
  height: 100%;
  width: 100%;
}
#report-menu-table .active {
  z-index: 2;
}
#report-menu-table .active .shadow {
  box-shadow: 0.1rem 0.1rem 0.1rem #0004;
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0 1rem 1rem 0;
}
#report-menu-table .shadow {
  display: none;
}
#report-menu-table td img {
  height: 80px;
  width: 80px;
  opacity: 0.9;
}





#map-info-td {
  position: relative;
  background-color: white;
}
#map-info-td .shadow {
  box-shadow: 0 0 0.5rem #0004;
}
#map-div {
  height: 100%;
  width: 100%;
}

#map-info-table {
  width: 100%;
  height: 100%;
}

#map-domains-table h2 {
  color: #444;
  font-size: 2.5rem;
  font-family: 'Rubik', Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
}
#map-assets-table h1 {
  font-size: 2.5rem;
  font-family: 'Rubik', Verdana, Geneva, Tahoma, sans-serif;
  margin: 1.5rem;
}

#filters-td {
  height: 20rem;
  background-color: #0001;
}
#map-menu-td {
  padding: 0.5rem;
  position: relative;
  height: 100%;
}
.map-menu-div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
}



#map-assets-menu-table {
  border-radius: 0.5rem;
  overflow: hidden;
}



.map-menu-table {
  width: 100%;
  min-height: 100%;
}

.map-menu-menu-table {
  width: 100%;
  font-size: 1.4rem;
  border-spacing: 0rem;
}
.map-menu-menu-table>tr>td {
  padding: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  transition: padding-left 0.1s ease-in-out;
}
#map-assets-menu-table>tr>td:hover {
  padding-left: 1.5rem;
}


#report-info-table {
  width: 100%;
  height: 100%;
}

#loading-popup {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 6rem;
  color: white;
  z-index: 50000000;
  width: 16rem;
  height: 2.5rem;
  box-shadow: 0.2rem 0 0.5rem #0005;
  transition: right 0.8s cubic-bezier(.34,-1,.82,0);
}
#loading-popup img {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
}
#loading-popup .text {
  font-style: italic;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}
#loading-popup .object-backdrop {
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 3.5rem;
  border-radius: 5rem;
  background-color: #333;
}

.popup-backdrop {
  position: absolute;
  z-index: 4000000000;
  background-color: #4448;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#tnc-popup-backdrop {
  display: block;
}

.popup {
  width: calc(100% - 20rem);
  height: calc(100% - 10rem);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0 0.8rem #0005;
  position: absolute;
  top: 5rem;
  left: 10rem;
  z-index: 4000000002;
}
#tnc-popup {
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
}
#filters-help-popup {
}

.popup>table {
  width: 100%;
  height: 100%;
}
.popup td {
  padding: 1rem;
  vertical-align: top;
}
.popup h2 {
  margin: 0;
  color: #666;
  font-size: 1.4rem;
}
.popup h3 {
  margin: 0;
  color: #666;
  font-size: 1.1rem;
  margin-top: 2rem;
}
.popup h1 {
  color: #666;
  font-size: 2.5rem;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: -2rem;
}
.popup p {
  font-size: 1.1rem;
  line-height: 1.1;
  margin-left: 1.4rem;
  margin-top: 0.6rem;
}
.popup .button {
  border-radius: 0.5rem;
  background-color: #AAA;
  color: white;
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  transition: background-color 0.1s ease-in-out;
  pointer-events: none;
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
}
.popup .button.active {
  background-color: #5FAFAF;
  cursor: pointer;
  pointer-events: all;
}
.popup .button.active:hover {
  background-color: #30777D;
}
#tnc-popup .highlight {
  color:#0f797c;
  background-color: #d8f2f7;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.4;
}
#tnc-contents-div {
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 1.4;
  width: 100%;
}
#tnc-checkbox {
  height: 1.1rem;
  width: 1.1rem;
  position: relative;
  top: 0.2rem;
  right: 0.3rem;
}



.slr-pointers-div {
  height: 30px;
  position: relative;
  top: -8px;
}
.slr-pointers-div>div {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 20px;
  transition: left 0.2s ease-in-out;
  cursor: pointer;
}
.slr-pointers-div img {
  height: 20px;
  width: 20px;
  position: absolute;
  top:0;
  left: 0;
  transform: translateX(-10px);
}
.slr-slider-marker-info {
  position: absolute;
  top: -2px;
  font-size: 0.7rem;
  font-weight: bold;
  width: 40px;
  transform: translateX(-20px);
  text-align:center;
  left: 0px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.slr-pointers-div .label {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  transform: translateX(-10px);
  background-color: #d9eaff;
}
.slr-pointers-div .hover {
  position: absolute;
  top: 20px;
  left: 0;
  width: 110px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  transform: translate(-55px, 17px);
  background-color: white;
  border: 2px solid #18426F;
  border-radius:4px;
  display: none;
  z-index:10;
  pointer-events: none;
}
.slr-pointers-div>div:hover .hover {
  display: block;
}
.slr-pointers-div .hover .subtitle {
  font-size: 12px;
  font-weight: 500;
}

.asset-reports-td {
  display: none;
}
.asset-reports-td h2 {
  text-align: left;
  font-size: 1.2rem;
}

.asset-type-img {
  height: 0.8em;
  width: 0.8em;
  margin-bottom: -0.08em;
  margin-right: 0.4em;
}





.report-report-table {
  width: 100%;
  display: none;
  text-align: justify;
}
.report-report-table.active {
  display: table;
}
.report-report-table h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.report-report-table h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.asset-report-vulnerability-figure-td {
  text-align: center;
  font-size: 1rem;
  vertical-align: top;
  padding: 0.6rem 4rem 0rem 4rem;
  height: 10rem;
}
.asset-report-figure-td {
  text-align: center;
  font-size: 1rem;
  vertical-align: top;
  padding: 0.6rem 4rem 0rem 4rem;
  height: 15rem;
}
#map-report-table .asset-report-figure-td {
  padding: 1.5rem 2rem 0rem 2rem;
  text-align: center;
  font-size: 1rem;
  vertical-align: top;
  height: 20rem;
}
.asset-report-figure-td img {
  width: 100%;
  border-radius: 0.2rem;
}
.asset-report-description-td {
  font-size: 14px;
  padding: 0.1rem 0rem 2rem;
  text-align: left;
}
#map-report-td .asset-report-title-td {
  display: none;
}
.asset-report-domain-td {
  padding: 0.5rem 1rem 5rem 1rem;
  text-align: left;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 500;
}
#page-report .asset-report-domain-td {
  display: none;
}


#map-report-td .asset-report-description-td {
  padding: 1rem;
  font-size: 1.4rem;
}




/* Track for Scroll Bar in Reports */
body .nice-scroll::-webkit-scrollbar-track {
  background: #FFF0; 
}

/* Handle */
.overview .nice-scroll::-webkit-scrollbar-thumb { background: #00565230; }
.overview .nice-scroll::-webkit-scrollbar-thumb:hover { background: #005652; }
.built .nice-scroll::-webkit-scrollbar-thumb { background: #76310030; }
.built .nice-scroll::-webkit-scrollbar-thumb:hover { background: #763100; }
.natural .nice-scroll::-webkit-scrollbar-thumb { background: #037c0930; }
.natural .nice-scroll::-webkit-scrollbar-thumb:hover { background: #037c09; }
.cultural .nice-scroll::-webkit-scrollbar-thumb { background: #78002130; }
.cultural .nice-scroll::-webkit-scrollbar-thumb:hover { background: #780021; }
.human .nice-scroll::-webkit-scrollbar-thumb { background: #34229d30; }
.human .nice-scroll::-webkit-scrollbar-thumb:hover { background: #34229d; }





/* FILTER COLORS */
.none .filters-div table, body .none .vl-select,
body .none h1 { color: #353535; }
body .none .vl-select-head { border-color: #353535; }
body .none .filters-div, body .none .filters-div .slr-pointers-div .label { background-color: #d1d1d1; }
body .none .vl-slider-line, body .none .filters-apply-button,
body .none .vl-slider-marker { background-color: #353535; }
body .none .filters-div { box-shadow: none; padding: 0.5rem; border-radius: 0; }
body .none .filters-td { padding: 0; border-top: 1px solid #858585; }


#report-overview-table, .overview #asset-reports-pagination, .overview .filters-div table, body .overview .vl-select,
body .overview h1 { color: #005652; }
body .overview .vl-select-head { border-color: #005652; }
body .overview .filters-div, body .overview .filters-div .slr-pointers-div .label { background-color: #a1f4da; }
body .overview .vl-slider-line, body .overview .filters-apply-button,
body .overview .vl-slider-marker { background-color: #005652; }
body .overview .filters-div { box-shadow: 0 0.3rem 0.5rem #0004; }

#report-built-table, .built #asset-reports-pagination, .built .filters-div table, body .built .vl-select,
body .built h1 { color: #763100; }
body .built .vl-select-head { border-color: #763100; }
body .built .filters-div, body .built .filters-div .slr-pointers-div .label { background-color: #ffe2af; }
body .built .vl-slider-line, body .built .filters-apply-button,
body .built .vl-slider-marker { background-color: #763100; }
body .built .filters-div { box-shadow: 0 0.3rem 0.5rem #0004; }

#report-natural-table, .natural #asset-reports-pagination, .natural .filters-div table, body .natural .vl-select,
body .natural h1 { color: #037c09; }
body .natural .vl-select-head { border-color: #037c09; }
body .natural .filters-div, body .natural .filters-div .slr-pointers-div .label { background-color: #ceffbf; }
body .natural .vl-slider-line, body .natural .filters-apply-button,
body .natural .vl-slider-marker { background-color: #037c09; }
body .natural .filters-div { box-shadow: 0 0.3rem 0.5rem #0004; }

#report-cultural-table, .cultural #asset-reports-pagination, .cultural .filters-div table, body .cultural .vl-select,
body .cultural h1 { color: #780021; }
body .cultural .vl-select-head { border-color: #780021; }
body .cultural .filters-div, body .cultural .filters-div .slr-pointers-div .label { background-color: #ffbdbd; }
body .cultural .vl-slider-line, body .cultural .filters-apply-button,
body .cultural .vl-slider-marker { background-color: #780021; }
body .cultural .filters-div { box-shadow: 0 0.3rem 0.5rem #0004; }

#report-human-table, .human #asset-reports-pagination, .human .filters-div table, body .human .vl-select,
body .human h1 { color: #34229d; }
body .human .vl-select-head { border-color: #34229d; }
body .human .filters-div, body .human .filters-div .slr-pointers-div .label { background-color: #cdcdff; }
body .human .vl-slider-line, body .human .filters-apply-button,
body .human .vl-slider-marker { background-color: #34229d; }
body .human .filters-div { box-shadow: 0 0.3rem 0.5rem #0004; }



/* RETURN COLORS */
.built #map-report-return-div, .built #map-assets-return-div { background-color: #763100; color: #ffe2af;}
.natural #map-report-return-div, .natural #map-assets-return-div { background-color: #037c09; color: #ceffbf;}
.cultural #map-report-return-div, .cultural #map-assets-return-div { background-color: #780021; color: #ffbdbd;}
.human #map-report-return-div, .human #map-assets-return-div { background-color: #34229d; color: #cdcdff;}


#map-report-sub-td {
  text-align: center;
  vertical-align: top; 
  padding: 0;
  border-top: 1px solid;
}



.asset-caution-div {
  position: absolute;
  top: 1px;
  right: 5px;
  height: 100%;
}
.asset-caution-div>table {
  height: 100%;
}
.asset-caution-div td {
  height: 100%;
}
.asset-caution-div .info {
  height: 100%;
  padding: 0 0.5rem;
  color: #bf3535;
  font-size: 0.9rem;
}
.asset-caution-div img {
  height: 1em;
}
.asset-caution-div .icon {
  height: 20px;
  width: 20px;
}

.filters-help {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  opacity: 0.3;
  margin-left: 0.2rem;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}
.filters-help:hover {
  opacity: 0.6;
}



.show-on-map-img {
  display: inline-block;
    position: relative;
    top: 1px;
    left: 8px;
    cursor: pointer;
    height: 12px;
    width: 12px;
}

.asset-report-td {
  position: relative;
  padding-bottom: 2rem;
}


#report-summary-td .switch {
  padding: 0 1.5rem 1rem 1.5rem;
  display: none;
}
#report-summary-td .switch>table {
  width: 100%;
  background-color: #0002;
  border-radius: 2rem;
  overflow: none;
}
#report-summary-td .switch>table td {
  width: 50%;
  padding: 0.2rem 0;
  text-align: center;
  border-radius: 2rem;
  cursor: pointer;
}
#report-summary-td .switch>table td.active {
  background-color: #00000012;
  color: black;
  font-weight: 600;
}

#vt-info {
  position: absolute;
  background-color: #ffffff80;
  color: red;
  top: 1rem;
  right: 1rem;
  border-radius: 0.4rem;
  text-align: right;
  z-index: 4999;
  font-size: 0.9rem;
  padding: 0.2rem 0.7rem;
  display: none;
}








#hazard-legend {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem #0004;
  z-index: 4999;
}
#hazard-legend h3 {
  margin: 0.2rem;
  font-weight: 600;
  font-size: 1rem;
}
#hazard-legend td div {
  width: 1rem;
  height: 1rem;
  margin: 0.2rem 0.6rem 0.2rem 0.2rem;
  border-radius: 2px;
}
#hazard-legend td {
  font-size: 0.9rem;
  font-weight: 300;
}

#inundation-legend {
  display: none;
}
#groundwater-legend {
  display: none;
}


.leaflet-overlay-pane img {
  image-rendering: pixelated;
}



#asset-reports-pagination {
  height: 0;
  text-align: center;
  padding: 1rem 0 0 0;
}
#asset-reports-pagination span {
  cursor: pointer;
  font-size: 1.1rem;
}
#asset-reports-pagination span.active {
  font-weight: 600;
}



body .vl-graph-parent>svg {
  font-weight: 400;
}