
body {
  user-select: none;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}
td {
  padding: 0;
}
h1 {
  font-size: 4.5rem;
  margin: 0.3em;
}
p {
  font-size: 1.4rem;
  line-height: 1.4;
}
table {
  border-spacing: 0;
}








.page {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  overflow-y: auto;
}
.page.active {
  display: block;
}
div.shadow {
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
.nice-scroll {
  padding: 0.5rem;
  box-sizing: border-box;
}
.nice-scroll::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.nice-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 1rem;
}
/* Handle */
.nice-scroll::-webkit-scrollbar-thumb {
  background: #8885; 
  border-radius: 1rem;
}
/* Handle on hover */
.nice-scroll::-webkit-scrollbar-thumb:hover {
  background: #5555; 
}

.filters-div {
  height: 20rem;
  background-color: #E3EDF9;
  border-radius: 1rem;
  color: #18426F;
  position: relative;
  padding: 1rem;
}
#report-info-td .filters-div {
  box-shadow: 0 0.3rem 0.5rem #0002;
}
#map-info-td .filters-div {
  border: 3px solid;
}
.filters-td {
  height: 0;
  padding: 1rem;
}
.filters-div h2 {
  margin: 0 0.4rem;
}
.filters-div h3 {
  margin: 0 0.4rem;
}

.filters-div td {
  padding: 0.5rem;
}

































.filters-expanding-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
.filters-expanding-icon img {
  height: 100%;
  width: 100%;
}


#footer {
  position: absolute;
  width: 100%;
  height: 2rem;
  left:0;
  bottom: 0;
  background-color: #222;
  z-index: 5;
}
#footer img {
  height: 2rem;
  width: 2rem;
  padding: 0rem 0.5rem;
}
#footer .attribution {
  color: #AAA;
  position: absolute;
  left: 3rem;
  top: 0.5rem;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}





#help-popup {
  position: absolute;
  font-size: 18px;
  padding: 8px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255,255,255);
  left: 50%; 
  top: 50%; 
  margin-left: -355px; 
  width: 670px;
  margin-top: -290px;
  z-index: 2000;
  display: none;
}

#help-popup h2 {
  font-size: 24px;
  font-weight: bold;
  color: #AAA;
}

.contact {
  opacity: 0.8;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  width: 100%;
}

#help-popup a {
  font-size: inherit;
  color: #44F;
  font-style: italic;
}

#help-popup button {
  background-color: #F9F9F9;
  color: #999;
  border-color: #999;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
}
#help-popup button:hover {
  background-color: #EEE;
  color: black;
  border-color: black;
}


.intro_tour {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #222;
  min-width: 650px;
  margin: 6px -3px 0 0;
}

div.intro_tour h3, div.intro_tour h2 {
  text-align: center;
  font-size: 22px;
  color: #777;
  font-weight: bold;
  margin: 8px;
}

div.intro_tour p {
  margin: 15px;
}

div.intro_tour .introjs-button {
  margin-top: 0px;
}

.introjs-tooltiptext a {
  color: #44F;
  font-size: 18px;
}


#intro-logo {
  background-color: white;
  margin: 0;
}
#intro-logo img {
  width: 220px;
  height: 110px;
  object-fit: contain;
}







#body-table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

#title-td {
  width: 100%;
  background-color: #444;
  padding: 0.5rem;
  color: white;
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
}
#menu-td {
  background-color: #444;
  vertical-align: bottom;
  color: white;
}
#page-td {
  width: 100%;
  height: 100%;
}
#footer-td {
  width: 100%;
  background-color: #222;
  height: 2rem;
}

#menu-table {
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-spacing: 0;
  font-size: 15px;
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
  display: inline-flex;
}
#menu-table td {
  padding: 0.5rem 1rem 1rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem 0.5rem 0 0;
  min-width: 5rem;
  text-align: center;
  transition: background-color 0.1s ease-in-out;
}
#menu-table td:hover {
  background-color: #50add440;
}
#menu-table td.active {
  background-color: #50add4b8;
}

#title-td img {
  display: inline-block;
  height: 2rem;
  margin-left: 1rem;
  position: relative;
  top: 2px;
}
#title-td div {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 11rem;
  font-size: 1.1rem;
  vertical-align: middle;
}




#page-overview .background {
  opacity: 0.2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#overview-info-table {
  margin-top: 3rem;
  border: 2px solid #9994;
  border-left-width: 0;
  border-right-width: 0;
  background-color: #CCC4;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #444;
}
#overview-info-table img {
  height: 10rem;
  width: 10rem;
  border-radius: 20rem;
}

#overview-info-table td:nth-child(even) {
  padding-right: 1.5rem;
}
#overview-info-table td:nth-child(odd) {
  padding: 2rem;
  padding-right: 0.5rem;
}



#report-info-td {
  background-color: #00A9A7;
  position: relative;
  z-index: 1;
}
#report-info-td .shadow {
  box-shadow: 0.1rem 0.1rem 0.1rem #0004;
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#report-menu-table {
  width: 10rem;
  height: 100%;
}
#report-menu-table td {
  text-align: center;
  font-size: 1.6em;
  height: 20%;
  position: relative;
  right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0 0 0 0;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  transition: right 0.1s ease-in-out,
              border-radius 0.1s ease-in-out,
              padding-left 0.1s ease-in-out;
}
#report-menu-table td.active {
  right: 0rem;
  padding-left: 0;
  border-radius: 0 1rem 1rem 0;
}
#report-menu-table td.active:hover {
  right: 0rem;
  padding-left: 0;
  border-radius: 0 1rem 1rem 0;
}
#report-menu-table td:hover {
  right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
#report-menu-table div {
  height: 100%;
  width: 100%;
}
#report-menu-table .active {
  z-index: 2;
}
#report-menu-table .active .shadow {
  box-shadow: 0.1rem 0.1rem 0.1rem #0004;
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0 1rem 1rem 0;
}
#report-menu-table .shadow {
  display: none;
}
#report-menu-table td img {
  height: 80px;
  width: 80px;
  opacity: 0.9;
}





#map-info-td {
  position:relative;
}
#map-info-td .shadow {
  box-shadow: 0 0 0.5rem #0004;
}
#map-div {
  height: 100%;
  width: 100%;
}

#map-info-table {
  width: 100%;
  height: 100%;
}

#map-menu-table h2 {
  color: #444;
  font-size: 2.5rem;
  font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
  margin: 1.5rem 0 -0.5rem 0;
}

#filters-td {
  height: 20rem;
  background-color: #0001;
}
#map-menu-td {
  padding: 0.5rem;
}
#map-menu-div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
}




#map-menu-table {
  width: 100%;
  min-height: 100%;
}

#map-asset-table {
  width: 100%;
  font-size: 1.4rem;
  border-spacing: 0.5rem;
}
#map-asset-table td {
  width: 50%;
  height: 3rem;
}
#map-asset-table td.header {
  font-size: 1.2rem;
  vertical-align: bottom;
  text-align: left;
}
#map-asset-table td.item {
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
}
#map-asset-table td.Built {
  background-color: #ffc4008e;
}
#map-asset-table td.Built:hover {
  background-color: #e077008e;
}
#map-asset-table td.Cultural {
  background-color: #c51b6a86;
}
#map-asset-table td.Cultural:hover {
  background-color: #ac084799;
}
#map-asset-table td.Natural {
  background-color: #8FD760aa;
}
#map-asset-table td.Natural:hover {
  background-color: #35aa45aa;
}
#map-asset-table td.Social {
  background-color: #495cb188;
}
#map-asset-table td.Social:hover {
  background-color: #27299b99;
}
#map-asset-table td.Misc {
  background-color: #00a9a69c;
}
#map-asset-table td.Misc:hover {
  background-color: #0079a99c;
}


#report-info-table {
  width: 100%;
  height: 100%;
}