/* 
https://coolors.co/5affcb-ffb157-8cff69-a4a4ff-ff88b6
*/


body {
  /* user-select: none; */
  overflow: auto;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.2;
  min-width: 1200px;
  color: #414042;
  background: #FFFFFF;
}
td {
  padding: 0;
}
h1 {
  font-size: 4.3rem;
  margin: 0.3em;
}
p, li {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
table {
  border-spacing: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  /* background: #FFFFFF; */
}








.page {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  overflow-y: auto;
}
.page.active {
  display: block;
}
div.shadow {
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

.filters-td {
  height: 0;
  padding: 1rem;
}

.leaflet-bar a {
  color: #3e7691;
  background-color: #f4f7f9;
}
.leaflet-bar a:hover {
  color: #3e7691;
  background-color: #e6eaed;
}
body .leaflet-touch .leaflet-control-layers, body .leaflet-touch .leaflet-bar {
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 5px #0002;
}






body .vl-select {
  color: #18426F;
}
body .vl-select-head {
  background-color: white;
  border-radius: 0.4rem;
  border-color: #18426F;
  font-weight: bold;
  font-size: 1.1rem;
}
body .vl-select-body-parent {
  max-height: 7rem;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  border-color: #18426F;
}
body .vl-select-body-parent::-webkit-scrollbar {
  width: 10px;
}
/* Track */
body .vl-select-body-parent::-webkit-scrollbar-track {
  border-radius: 0.4rem;
  background: #f1f1f1; 
}
/* Handle */
body .vl-select-body-parent::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: #bcbcbc; 
}
/* Handle on hover */
body .vl-select-body-parent::-webkit-scrollbar-thumb:hover {
  background: #bcbcbc; 
}

body .vl-select-body td:hover {
  background: #bcbcbc; 
}




.slider {
  height: 1.5rem;
  width: 100%;
}

.filters-slider-table>tbody>tr>td:nth-child(2) {
  text-align: right;
}
.filters-slider-table>tbody>tr:nth-child(even)>td {
  vertical-align: top;
  padding: 0 0.5rem;
}
.filters-slider-table>tbody>tr:nth-child(odd)>td {
  vertical-align: bottom;
}

.summary-table {
  display: none;
  height: 100%;
  width: 90%;
}
.summary-table tr {
  height: 50%;
}
.summary-table td {
  vertical-align: middle;
}
.summary-table h2 {
  margin-top: 0;
}
.summary-table h3 {
  margin-left: 1rem;
  font-size: 1.1rem;
}
.summary-table h3 span {
  font-weight: normal;
}
.summary-table tr:first-child td {
  vertical-align: bottom;
}
.summary-table tr:first-child h3 {
  margin-bottom: 0.2rem;
}
.summary-table tr:last-child td {
  vertical-align: top;
  padding-top: 0.5rem;
}















/* Track for Scroll Bar in Reports */

.nice-scroll {
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
}
.nice-scroll::-webkit-scrollbar {
  width: 7px;
}
/* Track */
.nice-scroll::-webkit-scrollbar-track {
  background: #FFF0; 
  border-radius: 1rem;
}
/* Handle */
.nice-scroll::-webkit-scrollbar-thumb {
  background-color: #FFF0; 
  border-radius: 1rem;
}
/* Handle on hover */
.nice-scroll::-webkit-scrollbar-thumb:hover {
  background: #5555; 
}

/* Hide by default, show on hover */
.nice-scroll:hover::-webkit-scrollbar-thumb {
  background: #8885; 
}
.nice-scroll:hover::-webkit-scrollbar-thumb:hover {
  background: #888A; 
}












#try-map-popup-arrow {
  background-color: #21a3a3;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.8rem;
  right: 5.1rem;
  transform: rotate(45deg);
}

#try-map-popup {
  position: absolute;
  top: 1rem;
  right: 1.9rem;
  background-color: #21a3a3;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 5rem;
  
}

#map-td {
  width: 50%;
  position: relative;
}

#mouse-info {
  visibility: hidden;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.8rem;
  z-index: 5000;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem #0004;
}

#overview-summary-td .title h1 {
  font-size: 2rem;
  margin: 1.5rem 2rem 0.5rem 2rem;
  color: #098484;
}

#overview-info-table.overview #overview-summary-td .title h1 {
  margin-bottom: 1rem;
}

#overview-summary-td .content {
  font-size: 1.1rem;
  padding: 0 0.5rem 0 2rem;
}
#overview-summary-td .content>div {
  padding-right: 1rem;
  padding-bottom: 14rem;
}






#footer {
  position: absolute;
  width: 100%;
  height: 2rem;
  left:0;
  bottom: 0;
  background-color: #222;
  z-index: 5;
}
#footer img {
  height: 2rem;
  width: 2rem;
  padding: 0rem 0.5rem;
}
#footer .attribution {
  color: #AAA;
  position: absolute;
  left: 3rem;
  top: 0.5rem;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
#footer a {
  font-size: 0;
}





#help-popup {
  position: absolute;
  font-size: 18px;
  padding: 8px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255,255,255);
  left: 50%; 
  top: 50%; 
  margin-left: -355px; 
  width: 670px;
  margin-top: -290px;
  z-index: 2000;
  display: none;
}

#help-popup h2 {
  font-size: 24px;
  font-weight: bold;
  color: #AAA;
}

.contact {
  opacity: 0.4;
  font-size: 1em;
  font-style: italic;
  text-align: center;
  width: 100%;
  padding-top: 60px;
}

#help-popup a {
  font-size: inherit;
  color: #44F;
  font-style: italic;
}

#help-popup button {
  background-color: #F9F9F9;
  color: #999;
  border-color: #999;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
}
#help-popup button:hover {
  background-color: #EEE;
  color: black;
  border-color: black;
}


.intro_tour {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #222;
  min-width: 650px;
  margin: 6px -3px 0 0;
}

div.intro_tour h3, div.intro_tour h2 {
  text-align: center;
  font-size: 22px;
  color: #777;
  font-weight: bold;
  margin: 8px;
}

div.intro_tour p {
  margin: 15px;
}

div.intro_tour .introjs-button {
  margin-top: 0px;
}

.introjs-tooltiptext a {
  color: #44F;
  font-size: 18px;
}


#intro-logo {
  background-color: white;
  margin: 0;
}
#intro-logo img {
  width: 220px;
  height: 110px;
  object-fit: contain;
}





#page-overview {
  background-color: #adc8d9;
}

#body-table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

#title-td {
  width: 100%;
  background-color: #3f3f40;
  padding: 0.5rem;
  color: white;
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
}
#menu-td {
  background-color: #3f3f40;
  vertical-align: bottom;
  color: white;
  position: relative;
}
#page-td {
  width: 100%;
  height: 100%;
  position: relative;
}
#footer-td {
  width: 100%;
  background-color: #222;
  height: 2rem;
  position: relative;
}

#menu-table {
  margin-top: 0.5rem;
  margin-right: 42px;
  border-spacing: 0;
  font-size: 15px;
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
  display: inline-flex;
  font-weight: 600;
}
#menu-table td {
  padding: 0.5rem 1rem 1rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem 0.5rem 0 0;
  min-width: 5rem;
  text-align: center;
  transition: background-color 0.1s ease-in-out;
  color: white;
}
#menu-table td:hover {
  background-color: #50add440;
}
#menu-table td.active {
  background-color: #148984;
}

#title-td img {
  display: inline-block;
  height: 2rem;
  margin-left: 1rem;
  position: relative;
  top: 0px;
}
#title-td div {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 11rem;
  font-size: 1.1rem;
  vertical-align: middle;
}



#page-home {
  box-shadow: inset 0 0 20px #0004;
}
#page-home .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}
#page-home .page-table td:not(.page-table td td) {
  background-color: white;
}



#overview-info-td {
  background-color: #f4f7f9;
  position: relative;
  z-index: 1;
}
#overview-info-td .shadow {
  box-shadow: 0.1rem 0.1rem 0.1rem #0004;
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
}







#overview-info-table {
  width: 100%;
  height: 100%;
  color: #3e7691;
  background: #FFFFFF;
}

#loading-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
  padding: 8px;
  border-radius: 6rem;
  z-index: 5000000000;
  width: 120px;
  height: 120px;
  box-shadow: 0.2rem 0 0.5rem #0005;
  transform: scaleY(1) translate(-68px, 0px);
  transition: transform 0.1s ease-in-out;
  overflow: hidden;
}
#loading-popup img {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.popup-backdrop {
  position: absolute;
  z-index: 4000000000;
  background-color: #4448;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#tnc-popup-backdrop {
  display: block;
}

.popup {
  width: calc(100% - 20rem);
  height: calc(100% - 10rem);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0 0.8rem #0005;
  position: absolute;
  top: 5rem;
  left: 10rem;
  z-index: 4000000002;
  overflow: hidden;
}
#tnc-popup {
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
}

.popup>table {
  width: 100%;
  height: 100%;
}
.popup td {
  padding: 1rem;
  vertical-align: top;
}
.popup h2 {
  margin: 0;
  color: #666;
  font-size: 1.4rem;
}
.popup h3 {
  margin: 0;
  color: #666;
  font-size: 1.1rem;
  margin-top: 2rem;
}
.popup h1 {
  color: #666;
  font-size: 2.5rem;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: -2rem;
}
.popup p {
  font-size: 1.1rem;
  line-height: 1.1;
  margin-left: 1.4rem;
  margin-top: 0.6rem;
}
.popup .button {
  border-radius: 0.5rem;
  background-color: #AAA;
  color: white;
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  transition: background-color 0.1s ease-in-out;
  pointer-events: none;
  font-family: "Source Sans Pro",Verdana,Calibri,sans-serif;
}
.popup .button.active {
  background-color: #5FAFAF;
  cursor: pointer;
  pointer-events: all;
}
.popup .button.active:hover {
  background-color: #30777D;
}
#tnc-popup .highlight {
  color:#0f797c;
  background-color: #d8f2f7;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.4;
}
#tnc-contents-div {
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  overflow-y: scroll;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  padding-right: 1rem;
}
#tnc-contents-div ol {
  margin-top: 0;
}
#tnc-checkbox {
  height: 1.1rem;
  width: 1.1rem;
  position: relative;
  top: 3px;
  right: 0.3rem;
}



.leaflet-overlay-pane img {
  image-rendering: pixelated;
}


.overview-report-table {
  display: none;
}
.overview-report-table.active {
  display: table;
}

.overview-report-table p {
  font-size: 1.1rem;
  text-align: justify;
  color: #414042;
  margin: 0;
}
.overview-report-table li {
  font-size: 1.1rem;
  color: #414042;
  
}
.overview-report-table h2 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
.overview-report-table .vl-collapsing {
  padding-top: 6px;
  background-color: #0000;
}











#reports-left-td {
  background-color: #b5c7d5;
  position: relative;
}
#reports-left-td .shadow {
  box-shadow: 2px 0 10px #0003;
}

#reports-report-table {
  display: none;
}
#reports-menu-table {
  height: 100%;
  width: 100%;
}
#reports-menu-table .menu-header {
  width: 100%;
  padding: 15px 0 0 0;
}
#reports-menu-table .menu-contents {
  height: 100%;
  width: 100%;
}

#report-searchbar {
  width: 100%;
  font-size: 1.1rem;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #4465af;
  color: #3e7691;
}
#report-searchbar::placeholder {
  color: #adc9d6;
  font-style: italic;
}

html body .vl-select-head {
  text-align: left;
  font-weight: 500;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #414042;
  background-color: #ebfaff;
  border: 1px solid #b1b3b6;
  box-sizing: border-box;
  font-size: 1em;
}
body .vl-select-head-arrow {
  color: #b1b3b6;
  top: 0.55em;
  font-size: 0.9em;
  right: 0.5em;
}
html body .vl-select-body-parent {
  max-height: 13rem;
}

#report-menu-results-table {
  border-spacing: 0px 8px;
  width: 100%;
  padding: 0 20px 0 30px;
}
#report-menu-results-table .result {
  background-color: #fffffff2;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.1s ease-out;
}
#report-menu-results-table .result:hover {
  box-shadow: 0 0 5px #18426fdb;
}
#report-menu-results-table .result-text {
  font-family: 'Source Sans Pro';
  font-size: 1.05rem;
  font-weight: 600;
  color: #3e7691;
}



#report-menu-results-table .result-group {
  padding: 4px 0;
}
#report-menu-results-table .report-result-group {
  background-color: #ffffff6b;
  border-radius: 5px;
}
#report-menu-results-table .result-group.active .report-result-group {
  padding-bottom: 16px;
}
#report-menu-results-table .result-group .group-header {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
}
#report-menu-results-table .result-group .group-header .result-text {
  font-weight: 700;
  font-size: 1.1rem;
  color: #365e64;
  opacity: 0.95;
}
#report-menu-results-table .result-group .group-contents {
  display: none;
}
#report-menu-results-table .result-group.active .group-contents {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  padding: 0px 18px 0px 18px;
  margin-left: 22px;
  border-left: 1px solid #3b62624d;
  margin-top: 8px;
}
#report-menu-results-table .result-group .dropdown-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  right: 5px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#report-menu-results-table .result-group .dropdown-arrow img {
  width: 19px;
  height: auto;
}
#report-menu-results-table .result-group-summary {
  color: #365e64ad;
  font-style: italic;
  font-size: 0.9rem;
}
#report-menu-results-table .result-group.active .result-group-summary {
  display: none;
}





#footer-tr .contact-text {
  position: absolute;
  width: 100%;
  top: 7px;
  left: 0;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 0.9rem;
}
#footer-tr .contact-text a {
  font-size: 0.9rem;    
  color: #5fbdffc7;
  opacity: 1;
  text-decoration: none;
}





#reports-map-div {
  height: 100%;
  width: 100%;
  position: relative;
}



#hide-header-div, #show-header-div {
  position: absolute;
  z-index: 10000000000000;
  top: 0;
  right: 0;
  width: 14px;
  height: 18px;
  overflow: hidden;
  border-bottom-left-radius: 6px;
  cursor: pointer;
  padding: 16px 14px;
}
#show-header-div {
  background-color: #444;
  box-shadow: 0 0 8px #4448;
  top: 0;
  right: 0;
  padding: 7px 3px;
}
#hide-header-div:hover img, #show-header-div:hover img  {
  opacity: 1;
}
#hide-header-div img, #show-header-div img {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 12px;
  opacity: 0.4;
}
#show-header-div img {
  transform: rotate(180deg);
  opacity: 0.5;
  top: 6px;
  right: 0px;
}


.hide {
  display: none;
}


#reports-report-table {
  height: 100%;
  width: 100%;

}

#reports-report-table .report-header {
  width: 100%;
  height: 100px;
  background-color: #61a1d6;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #0003;
}
#reports-report-table .report-contents {
  width: 100%;
  background-color: white;
  font-weight: 400;
  color: #3f3f40;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
}
#reports-report-table .mini-grey-slash {
  position: absolute;
  bottom: -30px;
  right: 196px;
  width: 13px;
  height: 211px;
  background-color: #4465af90;
  transform: rotate(-41deg);
  transition: background-color 0.2s ease-in-out;
}
#reports-report-table .big-grey-slash {
  position: absolute;
  bottom: -70px;
  right: 85px;
  width: 85px;
  height: 303px;
  background-color: #4465af90;
  transform: rotate(-41deg);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
#reports-report-table .big-grey-slash:hover {
  background-color: #4465af;
}
#reports-report-table .big-grey-slash:hover ~ .mini-grey-slash {
  background-color: #4465af;
}
#reports-report-table .return-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 87px;
  top: 50%;
  transform: translate(0px, -17px);
  pointer-events: none;
}

#reports-report-table .report-header h1 {
  color: white;
  margin-left: 2rem;
  margin-top: 5px;
  padding-right: 210px;
}

#reports-report-table h1 {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
  font-family: 'Source Sans Pro';
}
#reports-report-table h1 div {
  display: inline-block;
  white-space: nowrap;
}

#reports-report-table .exposure-graph-td {
  width: 60%;
  padding: 0rem 1rem 1rem 24px;
}

#reports-report-table .exposure-text-td {
  padding: 2rem;
  width: 40%;
  padding-left: 1rem;
  padding-top: 3rem;
  vertical-align: top;
}

#reports-report-table .exposure-text2-td {
  width: 100%;
  padding: 2rem;
  padding-top: 1.5rem;
}
#reports-report-table .separator-td {
  padding: 2rem 2rem 0 2rem !important;
}
#reports-report-table .separator-td>div {
  width: 100%;
  height: 4px;
  background-color: #696969;
  border-radius: 5px;
}
#reports-report-table .blue-text-box-td {
  padding: 0 2rem 0 2rem;
}
#reports-report-table .vulnerability-section .blue-text-box-td {
  padding-bottom: 2rem;
}
#reports-report-table .blue-text-box-td>div {
  width: 100%;
  background-color: #61a1d6;
  color: white;
  padding: 1.5rem;
  border-radius: 6px;
  box-sizing: border-box;
}

#reports-report-table .warning-section {
  padding: 0.5rem 0.5rem 0 1rem;
    font-style: italic;
    color: #61a1d6;
    font-size: 1rem;
}


#reports-report-table .vulnerability-icon-td {
  width: 15%;
  height: 90px;
  padding: 0.6rem 0rem 0.6rem 2rem;
  position: relative;
}

#reports-report-table .vulnerability-icon-td>div{
  height: 95%;
  width: 45px;
  float: right;
}

#reports-report-table .vulnerability-bullet-text-td {
  padding: 1rem;
}

#reports-report-table .vulnerability-title-td {
  padding: 2rem;
}

#reports-report-table .vulnerability-pie-td {
  width: 40%;
  position: relative;
}

#reports-report-table .vulnerability-pie-td>div{
  width: 100%;
  height: 250;
}

#reports-report-table .data-source-text-td {
  width: 100%;
  padding: 2rem 3.5rem;
}

#reports-report-table .data-source-section {
  padding-bottom: 2rem;
}


#reports-report-table .results-graph-title-td{
  padding: 1rem 1rem 0rem 1rem;
  float: center;
}

#reports-report-table .grey-section {
  height: 4rem;
  background-color: #e8e8e8;
}

#report-exposure-graph {
  width: 100%;
  height: 280px;
  display: inline-block;
}

#report-exposure-graph .vl-axis .tick line {
  display: none;
}
#report-exposure-graph .vl-x-grid {
  display: none;
}
#report-exposure-graph .vl-axis .domain {
  stroke-width: 2px;
  stroke: #696969;
}




#hazard-popup-table>tbody>tr>td {
  padding: 0 1rem;
  vertical-align: top;
}


#hazard-year-div {
  position: absolute;
  width: 220px;
  top: 1.3rem;
  left: 1rem;
  border-radius: 0.5rem;
  padding: 12px 20px;
  background-color: #d8f2f7;
}
#hazard-year-div table {
  width: 100%;
  height: 100%;
}
#hazard-year-div h3 {
  margin-top: 0;
  color: #0f797c;
}
.vl-popup .vl-slider-line, .vl-popup .vl-slider-marker {
  background-color: #335c5b;
}
.vl-popup .vl-slider-handle .vl-hole {
  background-color: white;
}
html body .vl-popup .vl-select-head {
  border: 1px solid #335c5b;
  background-color: #f0f9ff;
  color: #335c5b;
}
html .vl-popup h3 {
  color: #335c5b;
  margin-top: 1rem;
}
html .vl-popup-div h1 {
  color: #335c5b;
}
#hazard-year-div .vl-slider-line {
  background-color: #148984;
}
#hazard-year-div .vl-slider-handle {
  width: 16px;
  height: 16px;
  transform: translateX(-8px);
  top: 9px;
}

.text-align-right {
  text-align: right;
}





.slr-pointers-div {
  height: 30px;
  position: relative;
  top: -8px;
}
.slr-pointers-div>div {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 20px;
  transition: left 0.2s ease-in-out;
  cursor: pointer;
}
.slr-pointers-div img {
  height: 20px;
  width: 20px;
  position: absolute;
  top:0;
  left: 0;
  transform: translateX(-10px);
}
.slr-slider-marker-info {
  position: absolute;
  top: -2px;
  font-size: 0.7rem;
  font-weight: bold;
  width: 40px;
  transform: translateX(-20px);
  text-align:center;
  left: 0px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.slr-pointers-div .label {
  position: absolute;
  top: 15px;
  left: -2px;
  width: 100%;
  padding: 0 2px;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  transform: translateX(-10px);
  background-color: white;
}
.slr-pointers-div .hover {
  position: absolute;
  top: 20px;
  left: 0;
  width: 130px;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  transform: translate(-65px, 17px);
  background-color: white;
  border: 2px solid #18426F;
  box-shadow: 0 0 5px #18426F40;
  border-radius:4px;
  display: none;
  z-index:10;
  pointer-events: none;
}
.slr-pointers-div>div:hover .hover {
  display: block;
}
.slr-pointers-div .hover .subtitle {
  font-size: 13px;
  font-weight: 500;
}


#reports-right-td {
  position: relative;
}
#report-map-filters-overlay {
  width: 94%;
  height: 48px;
  position: absolute;
  top: 5px;
  background-color: #f4f7f9;
  color: #3e7691;
  border-radius: 6px;
  left: 3%;
  z-index: 200000;
  box-shadow: 0 0 5px #0003;
}

#report-map-hazard-button {
  width: 55%;
  height: 40px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FFF0;
  transition: border-color 0.1s ease-in-out,
              background-color 0.1s ease-in-out;
  border-width: 0.5px;
  cursor: pointer;
  overflow: hidden;
}
#report-map-hazard-button:hover {
  box-shadow: inset 0 0 20px #b5c7d550, 0 0 4px #fff4;
  border-color: #FFF5;
  background-color: #eaf0f590;
}
#report-map-hazard-button .hazard-symbol {
  width: 31px;
  height: 31px;
  position: relative;
  top: 5px;
  left: 6px;
  display: none;
}
#report-map-hazard-button .hazard-symbol.inundation {
  display: block;
}
#report-map-hazard-button .hazard-summary {
  position: absolute;
  left: 50px;
  font-size: 18px;
  top: 18px;
  transform: translateY(-9px);
  font-family: 'Source Sans Pro';
  letter-spacing: 0.5px;
}
#report-map-hazard-button .edit-pencil {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.2;
  transition: opacity 0.1s ease-in-out;
}
#report-map-hazard-button:hover .edit-pencil  {
  opacity: 1;
}

#reports-left-td-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #4448;
}



#hazard-popup-apply-button:not(.active) {
  background-color: #5fafaf54;
  pointer-events: none;
}


#report-map-region-dropdown {
  width: 40%;
  position: absolute;
  right: 3px;
  top: 3px;
  margin: 0;
  font-size: 18px;
}
#report-map-region-dropdown .vl-select-head, #map-region-dropdown .vl-select-head {
  color: #3e7691;
  background-color: #0000;
  border: 1px solid #0000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: border-color 0.1s ease-in-out,
              background-color 0.1s ease-in-out;
  padding: 8.5px;
  padding-left: 12px;
}
#report-map-region-dropdown .vl-select-head-arrow, #map-region-dropdown .vl-select-head-arrow {
  color: #3e769133;
  transition: color 0.1s ease-in-out;    
  top: 10px;
  font-size: 1em;
}
#report-map-region-dropdown:hover .vl-select-head-arrow, #map-region-dropdown:hover .vl-select-head-arrow {
  color: #3e7691;
}
#report-map-region-dropdown:hover .vl-select-head, #map-region-dropdown:hover .vl-select-head {
  box-shadow: inset 0 0 20px #b5c7d550, 0 0 4px #fff4;
  border-color: #FFF5;
  background-color: #eaf0f590;
}



#report-map-filters-overlay .report-map-dividing-line {
  position: absolute;
  top: 5px;
  height: 38px;
  right: 0;
  width: 42.5%;
  border-left: 1px solid #3e769133;
}

#map-map-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#map-region-overlay {
  width: 600px;
  height: 48px;
  position: absolute;
  top: 5px;
  background-color: #f4f7f9;
  color: #3e7691;
  border-radius: 6px;
  right: 10px;
  z-index: 200000;
  box-shadow: 0 0 5px #0003;
}
#map-region-dropdown {
  width: 240px;
  position: absolute;
  right: 3px;
  top: 3px;
  margin: 0;
  font-size: 18px;
}
#map-region-overlay .report-map-dividing-line {
  position: absolute;
  top: 5px;
  height: 38px;
  right: 0;
  width: 42.5%;
  border-left: 1px solid #3e769133;
}

#map-layer-overlay {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 10px;
  bottom: 15px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  z-index: 10000;
  pointer-events: none;
}

#map-layer-overlay .map-layer-item {
  height: 45px;
  border-radius: 5px;
  width: 400px;
  pointer-events: all;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #607078;
  background-color: #f4f7f9;
  box-shadow: 0 0 5px #0003;
  overflow: hidden;
  line-height: 18px;
}
#map-layer-overlay .map-layer-item>table{
  width: 100%;
  height: 100%;
}
#map-layer-overlay .map-layer-item td {
  height: 100%;
}
#map-layer-overlay .map-layer-item .icon-td {
  padding-left: 8px;
  width: 38px;
  padding-top: 1px;
  padding-right: 5px;
}
#map-layer-overlay .map-layer-item .layer-icon {
  width: 40px;
  height: auto;
}
#map-layer-item-info.map-layer-item .layer-icon {
  width: 25px;
}
#map-layer-item-info.map-layer-item .icon-td {
  padding-right: 0;
  padding-left: 16px;
}
#map-layer-overlay .map-layer-item .handle-td {
  padding: 6px;
  width: 13px;
  cursor: grab;
}
#map-layer-overlay .map-layer-item .handle-td img {
  width: 100%;
  height: auto;
}
#map-layer-overlay .map-layer-item .color-td {
  width: 9px;
  background-color: #aab6bd;
}
#map-layer-overlay .map-layer-item .pencil-td {
  width: 32px;
}
#map-layer-overlay .map-layer-item .pencil-td {
  width: 32px;
}
#map-layer-overlay .map-layer-item .pencil-td .layer-button {
  width: 20px;
}
#map-layer-overlay .map-layer-item .x-td {
  width: 32px;
}
#map-layer-overlay .map-layer-item .x-td .layer-button {
  width: 14px;
  margin-left: 3px;
}
#map-layer-overlay .map-layer-item .eye-td {
  width: 32px;
}
#map-layer-overlay .map-layer-item .eye-closed-td {
  width: 32px;
  display: none;
}
#map-layer-overlay .map-layer-item .name-td {
  padding-right: 16px;
  line-height: 1.08rem;
}
#map-layer-overlay .map-layer-item .eye-td .layer-button {
  width: 23px;
}
#map-layer-overlay .map-layer-item .eye-closed-td .layer-button {
  width: 23px;
}
#map-layer-overlay .map-layer-item .layer-button {
  cursor: pointer;
  height: auto;
  margin: auto;
  transition: opacity 0.1s ease-in-out;
}
#map-layer-overlay .map-layer-item .layer-button:hover {
  opacity: 1;
}
#map-layer-overlay .map-layer-item .mouse-info-td img, #map-layer-overlay .map-layer-item .no-mouse-info-td img {
  width: 26px;
}
#map-layer-overlay .map-layer-item .mouse-info-td, #map-layer-overlay .map-layer-item .no-mouse-info-td {
  width: 36px;
}


#map-layer-item-info {
  order: 0;
}
#map-layer-overlay .map-layer-item#map-layer-item-info .color-td {
  background-color: #607078;
}

#map-layer-add-div {
  order: 10;
  width: 400px;
}
#map-layer-add-button {
  pointer-events: all;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  background-color: #7070703b;
  color: #788a94;
  width: 80px;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  line-height: 1.1rem;
  transition: background-color 0.1s ease-in-out,
              box-shadow 0.1s ease-in-out;
  cursor: pointer;
}
#map-layer-add-button:hover {
  background-color: #fffE;
  box-shadow: 0 0 5px #0003;
}

#report-cog-overlay {
  position: absolute;
  bottom: 13px;
  left: 53px;
  z-index: 10000;
  cursor: not-allowed;
}
#map-cog-overlay {
  position: absolute;
  top: 12px;
  left: 53px;
  z-index: 10000;
  cursor: not-allowed;
}
#map-cog-overlay img, #report-cog-overlay img  {
  height: 28px;
  width: 28px;
}

#map-layer-cap {
  order: 10;
  width: 100%;
  display: none;
  border-bottom: 2px solid #9f9f9f80;
}


#new-layer-popup {
  width: 1000px;
}

#new-layer-popup .parent-table {
  height: 100%;
  width: 100%;
}
#new-layer-domain-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.1rem 12rem;
}
#new-layer-domain-div>div {
  border-radius: 20px;
  background-color: #BBB;
  padding: 4px;
  width: 70px;
  box-shadow: 2px 2px 2px #07192270, -1px -1px 1px #4441, inset 2px 2px 2px #fff, inset -1px -1px 2px #335c5b44;
  cursor: pointer;
  transition: box-shadow 0.02s ease-in-out;
}
#new-layer-domain-div>div.active {
  box-shadow: -1px -1px 1px #0d273520, 2px 2px 5px #fff, inset -2px -2px 6px #4441, inset 2px 2px 4px #3e545498;
}
#new-layer-domain-div>div>img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  transition: opacity 0.05s ease-in-out;
}
#new-layer-domain-div>div.active>img {
  opacity: 1;
}
#new-layer-domain-div>div {  background-color: #e8ebf2; }
#new-layer-domain-div>div.active {  background-color: #fff; }


#new-layer-popup .vl-popup-contents {
  background-color: #f1f2f7;
  padding: 0;
}

#new-layer-popup .domain-heading-td {
  background-color: white;
  padding: 6px;
  text-align: center;
  color: #335c5b;
  font-size: 1.3rem;
  font-weight: 600;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

#new-layer-popup .nice-scroll {
  height: 460px;
  overflow-y: auto;
}

#new-layer-popup .asset-list-td {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: center;
  margin: 0px 5px 40px 5px;
  padding: 0 20px;
}
#new-layer-popup .asset-col {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
  width: 46%;
  gap: 1px;
  padding: 0 20px;
}
#new-layer-popup .asset-col .asset-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 5px;
  background-color: #e8ebf2;
}
#new-layer-popup .asset-col .asset-group .header {
  padding: 10px 10px 10px 15px;
  font-weight: 600;
}
#new-layer-popup .asset-col .asset-group .header span {
  font-weight: 200;
  font-size: 0.9rem;
}
#new-layer-popup .asset-col .asset-group .asset-group-contents {
  transition: height 0.1s ease-in-out;
  width: 100%;
  overflow: hidden;
}
#new-layer-popup .asset-col .asset-group.closed .asset-group-contents {
  height: 0;
}
#new-layer-popup .asset-col .asset-group .asset-group-contents>div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}
#new-layer-popup .asset-col .asset-item {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: fit-content;
  align-items: center;
  padding: 5px 20px 5px 10px;
  color: #335c5b;
  border: 1px solid #335c5b20;
  box-shadow: 0 0 0 #07192200;
  cursor: pointer;
  transition: box-shadow 0.05s ease-in-out, border 0.05s ease-in-out;
  font-size: 1rem;
  position: relative;
}
#new-layer-popup .asset-col>div.header {
  width: 100%;
  color: #52849c;
  padding: 12px 0 0px 2px;
  font-weight: bolder;
  font-size: 0.9rem;
  opacity: 0.5;
}
#new-layer-popup .asset-col>div>div:last-child {
  line-height: 1.3em;
}
#new-layer-popup .asset-col>div>div:first-child {
  padding: 2px 0;
  opacity: 0.9;
}
#new-layer-popup .asset-col>div.asset-item:hover {
  box-shadow: 0px 0px 4px #07192247;
  border: 1px solid #335c5b6b; 
}
#new-layer-popup .asset-col .asset-item .dropdown-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#new-layer-popup .asset-col .asset-item .dropdown-arrow img {
  height: 16px;
  width: 16px;
}





#info-layer-popup .vl-popup-contents {
  background-color: #f1f2f7;
}
#info-layer-popup .info-layer-list-td {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
#info-layer-popup .info-layer-list-td>div {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: fit-content;
  padding: 5px 10px;
  color: #335c5b;
  border: 1px solid #335c5b20;
  box-shadow: 0 0 0 #07192200;
  cursor: pointer;
  transition: box-shadow 0.05s ease-in-out, border 0.05s ease-in-out;
}
#info-layer-popup .info-layer-list-td>div>div:last-child {
  line-height: 1.4em;
}
#info-layer-popup .info-layer-list-td>div>div:first-child {
  padding: 3px 0;
  opacity: 0.9;
}
#info-layer-popup .info-layer-list-td>div:hover {
  box-shadow: 0px 0px 4px #07192247;
  border: 1px solid #335c5b6b;
}

#info-layer-popup .info-layer-list-td>div.clear-layer {
  background-color: #bf4141;
  color: white;
  align-self: flex-start;
  font-size: 0.9rem;
}
#info-layer-popup .info-layer-list-td>div.clear-layer>div {
  padding: 0;
  opacity: 1;
}


#info-layer-popup {
  width: 450px;
}

#info-layer-popup .parent-table {
  width: 100%;
}



#map-layer-item-info.no-layer .name-td, #map-layer-item-info.no-layer .icon-td  {
  font-style: italic;
  opacity: 0.5;
}
#map-layer-item-info.no-layer .eye-td, #map-layer-item-info.no-layer .eye-closed-td,
#map-layer-item-info.no-layer .mouse-info-td, #map-layer-item-info.no-layer .no-mouse-info-td {
  display: none;
}







body .vl-map-tooltip {
  padding-left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #607078;
  overflow: hidden;
  padding: 5px 40px 5px 24px;
}
body .vl-map-tooltip .asset-id {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  color: #788a948c;
  font-size: 0.9rem;
}
body .vl-map-tooltip .header-td {
  font-size: 1.1rem;
}
body .vl-map-tooltip .header-td {
  font-size: 1.1rem;
}
body .vl-map-tooltip .vulnerability-highlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
}
body .vl-map-tooltip .description-td {
  max-width: 300px;
  padding-top: 12px;
  font-size: 0.95rem;
}
body .vl-map-tooltip .study-highlight {
  height: 100%;
  width: 100%;
}
body .vl-map-tooltip .other-hazards-div {
  display: flex;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  padding-right: 4px;
  right: 0;
  top: 0;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0.4;
}
body .vl-map-tooltip .other-hazards-div>div {
  height: 20px;
  width: 20px;
}
body .vl-map-tooltip .other-hazards-div img {
  height: 20px;
  width: 20px;
}





#page-home a {
  cursor: pointer;
  color: #098484;
  text-decoration: underline;
}
#page-home .wave-svg-div {
  display: inline-block;
  position: absolute;
  top:-120px;
  left: 0;
  width: 100%;
  vertical-align: middle;
}
#page-home .wave-svg-div svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
}
#page-home .introduction-div {
  display:inline-block; 
  text-align: justify;
  background-color: white;
  padding: 1rem 7rem 60px 6rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
}
#page-home td {
  position: relative;
}
#page-home .introduction-div ul ::marker {
  color: #007c78;
}
#page-home .introduction-div ul span, #page-home .introduction-div ul a {
  font-weight: 700;
  color: #007c78;
  text-decoration: none;
}
#page-home .introduction-div ul span::after, #page-home .introduction-div ul a::after {
  content: '\00a0\00a0';
}

#home-hero-text-div {
  display: inline-block;
  color: #FFF;
  border-radius: 4rem;
  margin: 9rem 0 14rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
#home-hero-text-div h1 {
  width: 800px;
  display: inline-block;
}


.vl-map-legend {
  width: 140px;
}
.vl-map-legend  table {
  width: 100%;
}
.vl-map-legend  table tr:first-child {
  text-align: center;
}
.vl-map-legend .vl-color-td {
  width: 22px;
}





#home-tablets-div {
  height: 400px;
  width: 100%;
}
#home-tablets-highlight {
  background-color: #DDF0EC;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 80%;
    border-radius: 20px;
    margin: auto;
}
#home-tablets-div .home-tablet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#home-tablets-div .home-tablet>div:first-child {
  height: 200px;
  width: 261px;
}
#home-tablets-div .home-tablet img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 18px #7472743d;
}
#home-tablets-div .home-tablet>div:last-child {
  padding: 18px 0 25px 0;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  opacity: 0.9;
  color: #007c78;
}
#home-tablets-div .header {
  font-size: 1.5rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
  color: #007c78;
  padding: 20px 0;
  position: absolute;
  top: 8px;
  font-family: 'Source Sans Pro';
}

#page-home .introduction-div h2 {
  margin-bottom: 0;
  color: #098484;
  font-size: 1.7rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-align: left;
}


#home-collapsables-td {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 60px 7%;
}
#home-collapsables-td>div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#home-collapsables-td .vl-collapsing-control {
  background-color: #DDF0EC;
  border-radius: 0px;
  padding: 10px 20px;
  color: #007c78;
  font-size: 1.2rem;
  font-weight: 700;
  transition: padding 0.1s ease-in-out;
}
#home-collapsables-td .vl-collapsing-control ul {
  margin: 0;
  list-style: none;
}
#home-collapsables-td .vl-collapsing-control.vl-collapsed ul li:before {
  content: '\25B7';
}
#home-collapsables-td .vl-collapsing-control ul li:before {
  content: '\25BD';
  font-size: 12px;
  margin-right: 16px;
  position: relative;
  bottom: 2px;
}
#home-collapsables-td .vl-collapsing-control:hover {
  padding-left: 30px;
}
#home-collapsables-td .vl-collapsing {
  background-color: #DDF0EC;
  border-radius: 0px;
  padding: 10px 60px 60px 60px;
  font-family: 'Source Sans Pro';
  font-size: 1.1rem;
  color: #007c78;
}
#home-collapsables-td .vl-collapsing ul {
  margin-bottom: 0;
}
#home-collapsables-td>div:first-child{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
#home-collapsables-td>div:last-child{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

#home-collapsables-td .collapsables-header {
  background-color: #DDF0EC;
  padding: 20px;
}
#home-collapsables-td .collapsables-header h2 {
  margin: 0;
  text-align: center;
  font-size: 1.6rem;
  color: #007c78;
  font-family: 'Source Sans Pro';
}


.report-result {
  width: 100%;
  table-layout: fixed;
}
.report-result .domain-td {
  width: 45px;
  padding: 0;
}
.report-result .domain-td img {
  height: auto;
  width: 40px;
}
.report-result .type-td {
  width: 20px;
  padding: 10.5px;
}
.report-result .type-td img {
  height: auto;
  width: 15px;
  opacity: 0.2;
}


.basemap-switch-overlay {
  position: absolute;
  z-index: 10000;
  right:185px;
  bottom: 10px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.basemap-switch-overlay>div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid white;
  overflow: hidden;
}
.basemap-switch-overlay>div>img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.basemap-switch-overlay>div.front {
  z-index: 10005;
  bottom:10px;
  right: 10px;
}
.basemap-switch-overlay>div.mid {
  z-index: 10004;
  bottom:5px;
  right: 5px;
}
.basemap-switch-overlay>div.back {
  z-index: 10003;
  bottom:0;
  right: 0;
}
.basemap-switch-overlay .normal {
  background-color: #EEE;
}
.basemap-switch-overlay .satellite {
  background-color: #DDD;
}
.basemap-switch-overlay .contours {
  background-color: #CCC;
}

.domain-summary-td {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.domain-summary-td>div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#page-overview a {
  cursor: pointer;
  color: #098484;
  text-decoration: underline;
}

#page-overview .vl-collapsing-control ul li:before {
  content: '\25BD';
  font-size: 12px;
  margin-right: 16px;
  position: relative;
  bottom: 2px;
}

#page-overview .vl-collapsing-control.vl-collapsed ul li:before {
  content: '\25B7';
}

#page-overview .vl-collapsing-control {
  padding: 10px;
  transition: padding 0.1s ease-in-out;
}
#page-overview .vl-collapsing-control:hover {
  padding-left: 20px;
}
#page-overview .vl-collapsing-control ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
#page-overview .vl-collapsing-control li {
  color: #3e7691;
  font-size: 1.2rem;
  font-weight: 700;
}
#page-overview .vl-collapsing {
  padding: 0px 8px 24px 8px;
}

#overview-menu {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 5px 10px;
  flex-wrap: wrap-reverse;
  background: #ffffff;
  /* background-color: #c7ddeb; */
  gap: 5px;
  border-bottom: 1px solid #4c80a917;
}
#overview-menu>div {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #e6e7e8;
  color: #414042;
  flex-grow: 2;
  border: 1px solid #4c80a92b;
  line-height: 0.9rem;
  padding: 1px 22px 0px 10px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: none;
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
#overview-menu>div:hover {
  background-color: #bcbcbc;
  border: 1px solid #003c6a1c;
}
#overview-menu>div.active {
  background-color: #FFFFFF;
  border: 1px solid #003c6a1f;
}
#overview-menu img {
  width: 45px;
  height: auto;
  opacity: 0.9;
}




html .vl-multiselect .vl-select-head-item {
  background-color: #e1e9ee;
  border: 1px solid #89959f;
  margin: 1px;
  padding: 4px 6px;

}

.graph-section .form-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 23px 0 50px;
}
.graph-section .form-div>div {
  flex-grow: 2;
  font-size: 0.9rem;
  margin: 0;
}
.graph-section .form-div>div.vulnerability-form {
  width:90%;
}
.graph-section .vl-select-head {
  border: none;
  background-color: #b5c7d5;
  color: #395d78;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 0.9rem;
}
.graph-section .vl-select-head-arrow {
  color: #395d78;
}
.graph-section .graph-div {
  width: 100%;
  padding: 15px 45px 15px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.graph-section .graph-div>div {
  height: 200px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
}
.graph-section {
  padding: 20px 0 40px 0;
}
#page-overview .vl-graph-axis-label, 
#page-overview .tick text,
#page-overview .vl-graph-title {
  fill: #3e7691;
}
#page-overview .tick line,
#page-overview .vl-axis path {
  stroke: #3e7691;
}
.graph-section .vl-graph-title {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  left: 0;
}


.graph-section .form-div>div.ari-form {
  width: 90px;
  flex-grow: 0;
  min-width: 50px;
}

#overview-display-td {
  display: flex;
  box-sizing: border-box;
  padding: 60px;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  position: relative;
  background: #b1b3b6;
}
#overview-display-td>div {
  border-radius: 20px;
  /* background: #e6e7e8; */
}

#overview-display-div {
  height: 600px;
  position: relative;
  background-color:#FFFFFF;
}
#overview-controls-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #3f607a;
  /* background: #e6e7e8; */
  font-size: 0.95rem;
  font-family: 'Source Sans Pro', sans-serif;
}
#overview-controls-div .slr-form {
  padding: 5px 8px 5px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color:#e6e7e8;
  border-radius: 40px;
}
#overview-controls-div .slr-form div:first-child {
  padding-right: 10px;
}
#overview-controls-div .slr-form .button {
  padding: 5px 8px;
  border-radius: 20px;
  background-color: #e6e7e8;
  cursor: pointer;
  border: 1px solid #b1b3b6;
  ;
}
#overview-controls-div .slr-form .button:hover {
  background-color: #bcbcbc;
  border: 1px solid #b1b3b6;
}
#overview-controls-div .slr-form .button.active {
  background-color: #ffffff;
  border: 1px solid #b1b3b6;
}



#overview-display-graph {
  width: 96%;
  height: 96%;
  position: absolute;
  top: 2%;
  left: 2%;
}


#overview-controls-region-form {
  width: 217px;
  margin: 0;
}
#overview-controls-region-form .vl-select-head {
  height: 41px;
  background-color: #e6e7e8;
  border: none;
  border-radius: 30px;
  padding: 11px 18px;
}
#overview-controls-region-form .vl-select-head-arrow {
  top: 0.75em;
  right: 12px;
  font-size: 1em;
}
#overview-controls-region-form .vl-select-body-parent {
  border-radius: 20px;
  overflow: hidden;
  max-height: fit-content;
  border: none;
  background-color: #e6e7e8;
  padding: 10px 0;
  top: 105%;
}


#overview-display-div #overview-display-graph .overview-big-graph-x-axis-label {
  cursor: pointer;
}
#overview-display-div #overview-display-graph .overview-big-graph-x-axis-label:hover {
  text-decoration: underline;
}


#reports-report-table .vulnerability-icon-td>div.color-box {
  height: 45px;
  width: 45px;
  float: right;
  margin-right: 5px;
  border-radius: 3px;
}
.low-vulnerability {
  background-color: #32b888;
}
.medium-vulnerability {
  background-color: #db7900;
}
.high-vulnerability {
  background-color: #c94040;
}

#reports-report-table .vulnerability-icon-td>div.vulnerability-asset-type-icon {
  width: 55px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
}